/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.w50 {
    float: left;
    width: 50%;
    padding: 0 15px;
}

.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #fdc201;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

/*  HEADER */

header {
    background-color: #ffffff;
}

header .container {
    height: 100px;
    align-items: center;
    background-color: transparent;
    display: flex;
    border-bottom: 2px solid #000000;
}
.logo {
    width: 10%;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.menu {
    display: flex;
    margin-right: 0;
    align-items: center;
    margin-left: auto;
}

.menu nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu nav a {
    color: #333;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    transition: 1s all ease;
}

.menu nav a:hover {
    background-color: #faebd7;
    border-radius: 5px;
    cursor: pointer;
}

/*  MENU MOBILE */
.menu-mobile {
    background-color: #faebd7;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    visibility: hidden;
    z-index: 2;
}

.menu-mobile nav {
    text-align: center;
}

.menu-mobile nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #333333;
    display: block;
    padding: 30px 30px;
}

.menu-mobile nav a:hover {
    opacity: 0.7;
}

#btn-menu {
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.linha {
    width: 30px;
    height: 2px;
    background-color: #000000;
    display: block;
    margin: 8px auto;
    position: relative;
    transform-origin: center;
    transition: 0.2s all ease-in-out;
}

#btn-menu {
    display: none;
}

/* FIM DO HEADER */
.banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: antiquewhite;
}

.banner > .container {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banner h1 {
    margin-bottom: 50px;
    font-size: clamp(20px, 4vw, 45px);
    font-weight: bold;
}

.banner img {
    width: 80%;
    object-fit: cover;
}



/* SOBRE */
.sobre {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

.sobre-img img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 10px 15px #000000;
}

.sobre h1 {
    margin: 30px 0 50px 0;
    font-size: clamp(20px, 4vw, 32px);
}

.sobre p {
    padding: 20px;
    text-align: justify;
}


/* SERVIÇOS */
.servicos {
    display: flex;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    background-color: antiquewhite;

}

.servicos h1 {
    margin: 30px 0 50px 0;
    font-size: clamp(20px, 4vw, 32px);
}

.card .servico-descricao {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicos .card {
    display: flex;
    margin-top: 50px;
}

.servicos .card-img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 10px 15px #000000;
    margin-bottom: 20px;
}

.servicos .card-img img {
    width: 100%;
    padding: 10px;
}



/* FOOTER */
footer#contato {
    display: flex;
}

#contato .container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items:center;
}

.social-media {
    display: flex;
}
.social-media img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.logo-footer img {
    width: 80px;
}


/*  REGISTRO */

.registro {
    display: flex;
    text-align: center;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: antiquewhite;
}

.registro > .container {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.registro h1 {
    font-size: clamp(20px, 4vw, 32px);
    margin-bottom: 50px;
}

form {
    width: 500px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 15px;
}

label {
    width: 25%;
    display: inline-block;
}

input {
    width: 70%;
    font-size: 16px;
    padding: 10px 5px;
    margin-bottom: 10px;
}

.registro .btn {
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 20px;
    border: none;
    background-color: #fdc201;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}




@media (max-width: 1024px) {
    .sobre {
        height: calc(100vh - 100px);
    }

    .banner img {
        width: 70%;
    }
}


@media (max-width: 768px) {
    header .container {
        max-width: 1080px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    #btn-menu {
        display: block;
    }

    .menu-mobile.abrir {
        visibility: visible;
        height: calc(100vh - 100px);
    }

    button.ativar {
        border: 2px solid #000000;
    }

    button.ativar .linha:nth-child(1) {
        transform: translateY(12px) rotate(-45deg);
    }

    button.ativar .linha:nth-child(2) {
        width: 0;
    }

    button.ativar .linha:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }

    .banner {
        height: 100vh;
    }

    .banner img {
        width: 100%;
    }

    footer#contato {
        margin-bottom: 20px;
    }

    .logo-footer img {
        width: 25%;
    }

    #contato .container {
        display: block;
        text-align: center;
    }

    #contato .logo {
        width: 100%;
    }

    #contato .contact-info {
        padding: 20px 0;
    }

    #contato .social-media {
        justify-content: center;
    }

    .sobre {
        height: 100vh;
    }
    
    .sobre h1 {
        margin-bottom: 0;
    }

    .servicos h1 {
        margin: 0px 0 0 0;
    }

    .sobre .container {
        flex-direction: column;
        display: flex;
    }

    .w50{
        width: 100%;
    }

    .sobre-img img {
        margin-bottom: 30px;
    }

    .registro {
        display: none;
    }

    .servicos .card {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .servicos .card-img {
        width: 80%;
    }

    .servicos .card-img img  {
        padding: 10px 0;
    }

    .registro > .container {
        justify-content: unset;
    }

    form {
        width: 90%;
    }

    form input {
        width: 100%;
    }
}